.menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 760px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 40px;
  padding: 40px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 25px 60px rgba(9, 27, 69, 0.18);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-50%) translateY(14px);
  transition: 0.25s ease;
}

:global(.navItem:hover) .menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.column h2 {
  font-size: 24px;
  color: #091b45;
  font-weight: 900;
  margin-bottom: 15px;
}

.item {
  font-size: 17px;
  font-weight: 700;
  color: #091b45;
  cursor: pointer;
}

.item:hover {
  color: #d91f32;
}

.divider {
  width: 1px;
  background: #e5e7eb;
}