.menu{
  display:none;
  position:absolute;
  top:100%;
  left:250%;
  transform:translateX(-50%);
  width:1070px;
  background:#fff;
  border-top:3px solid #d62027;
  border-radius:0 0 22px 22px;
  box-shadow:0 18px 40px rgba(0,0,0,.15);
  padding:40px 45px 120px;
  grid-template-columns:1fr 1px 1fr 1px 1fr;
  gap:40px;
  z-index:999;
}

:global(.navItem:hover) .menu{
  display:grid;
}

.column{
  display:flex;
  flex-direction:column;
}

.column h2{
  font-size:22px;
  font-weight:900;
  color:#061a44;
  text-transform:uppercase;
  margin-bottom:35px;
  position:relative;
}

.column h2::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-12px;
  width:55px;
  height:4px;
  background:#d62027;
}

.divider{
  width:1px;
  background:#ececec;
}

.item{
  padding:14px 0;
  font-size:18px;
  font-weight:600;
  color:#061a44;
  cursor:pointer;
  position:relative;
  transition:.25s;
}

.item::after{
  content:"";
  position:absolute;
  left:0;
  bottom:4px;
  width:0;
  height:3px;
  background:linear-gradient(90deg,#061a44,#fff,#d62027);
  transition:.3s;
}

.item:hover{
  color:#d62027;
  padding-left:8px;
}

.item:hover::after{
  width:100%;
}

.univers{
  position:absolute;
  left:45px;
  bottom:28px;
  width:310px;
  height:80px;
  border:1px solid #ddd;
  border-radius:14px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 22px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}

.univers:hover{
  border-color:#d62027;
  box-shadow:0 8px 20px rgba(214,32,39,.18);
}

.univers span{
  font-size:30px;
}

.univers strong{
  flex:1;
  margin-left:14px;
  font-size:20px;
  font-weight:900;
  color:#061a44;
}

.univers b{
  font-size:28px;
  color:#d62027;
}