.menu{
    display:none;
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    width:760px;
    background:#fff;
    border-top:3px solid #d62027;
    border-radius:0 0 22px 22px;
    box-shadow:0 18px 40px rgba(0,0,0,.15);
    padding:22px 35px;
    z-index:999;
}

:global(.navItem:hover) .menu{
    display:block;
}

.item{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:28px 0;
    font-size:24px;
    font-weight:500;
    color:#061a44;
    border-bottom:1px solid #ececec;
    cursor:pointer;
    transition:.25s;
    overflow:hidden;
}

.item::after{
    content:"›";
    font-size:42px;
    color:#061a44;
}

.item::before{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:0;
    height:3px;
    background:linear-gradient(
        90deg,
        #061a44,
        #ffffff,
        #d62027
    );
    transition:.35s;
}

.item:hover::before{
    width:100%;
}

.item:hover{
    color:#d62027;
    padding-left:12px;
}

.item:hover::after{
    color:#d62027;
}